SE-TwoSum-Float16.bin
SE-TwoSum-BFloat16.bin
SE-TwoProd-Float16.bin
SE-TwoProd-BFloat16.bin
SETZ-TwoSum-Float16.bin
SETZ-TwoSum-BFloat16.bin
SETZ-TwoProd-Float16.bin
SETZ-TwoProd-BFloat16.bin
SELTZO-TwoSum-Float16.bin
SELTZO-TwoSum-BFloat16.bin
SELTZO-TwoProd-Float16.bin
SELTZO-TwoProd-BFloat16.bin
